@import url('../../libs/css/normalize-v8.0.1.css');
@import url('../../libs/css/reset-v2.0.css');

:root{
    --global-black: black;
    --global-white: white;
    --global-lightgray: lightgray;
}
body{
    display: grid;
    grid-template-rows: minmax(15vh,auto);
}

.cabecalho{
    background-color: var(--global-black);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cabecalho h1{
    font-size: 2em;
    color: var(--global-white);
}

#d1{
    text-align: center;
    margin-top: 10vh;
    font-size: 1.5em;
    height: fit-content;
}

#g{
    display: grid;
    justify-items: center;
}

#v, #f{
    height: 20vh;
}

#d2{
    text-align: center;
    margin-top: 10vh;
    display: flex;
    column-gap: 10vw;
}

#d2 button{
    padding: 5vh;
    font-size: 2em;
    background-color: black;
    color: white;
}

::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-thumb {
    background: white;
}

::-webkit-scrollbar-track {
    background: black;
}




